/* globals.css */

/* Default light mode styles */
body {
  background-color: white;
  color: black;
}

h1 {
  color: darkblue;
}

/* Dark mode styles */
.dark body {
  background-color: #121212;
  color: white;
}

.dark h1 {
  color: lightblue;
}

